
p{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}


.top-box{
  position: fixed;
  top:0px;
  left:50px;
  right: 50px;
  background-color: yellow;
}

.top-box-bg{
  
}
  .main-header-grid{

   
    display:grid;
    grid-template-columns: 150px 1fr 150px;
    
        
    margin-left: 50px;
    margin-right: 70px;
  }
    
  


.head1{
  
  object-fit: contain;
  height: 150px;
  width:100%;
}


.logo{
  width:100%;
  
  
}



.head2{
height:200px;
  
  margin-left: 0;
  margin-right: o;
}




.head2-txt1{
  font-family: roberto;
  vertical-align: top;
  font-weight: 700;
  font-size: 72px;
  color: green;
  width: 100%;
  line-height: 60px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  
  .head2-txt2{
    font-family: Lumanosimo;
    color: #ac0808;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .head2-txt3{
    color: rgb(9, 9, 126);
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;  
    }

    .head3{
      object-fit: contain;
      vertical-align: top;
      margin-left: 0px;
      width:100%;
              /* display: inline-block; */
    }
  
  
  
  button{
    background-color: rgb(192, 223, 245);
    height: 150px;
    width: 260px;
    border-radius:12px;
    cursor: pointer;
    margin-right:20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    transition opacity: 0.3s;
    vertical-align: top;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
  }
  
  button:hover{
    opacity: 0.6;
  }
  
  
  
  
  .button-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    margin-top: 50px;
    row-gap: 100px;
    margin-left:30px;
    margin-right:30px;
    /* column gap not needed because of button properies  */
    
    }

    .bground-button{  
    
    }

    .services-button{
      
    }
  
  
