p{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  padding-top: 20px;
}

.top-box{
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  z-index:  999;
  background-color: lightgray;
 
}


.main-header-grid{
  display:grid;
  grid-template-columns: 200px 1fr 300px;
  grid-template-rows: 140px;
  
  
  
}


.head1{

object-fit: contain;
}

.logo {
height:140px;
width:100%;
object-fit: contain;
vertical-align: top;

}

.head2{

text-align: center;
}



.head2-txt{
  color: rgb(13, 13, 164);
  font-family: Arial;
  vertical-align: bottom;
  font-weight: bold;
  font-size:24px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;  
  }

  
  .page-name{
    font-family: roberto;
    vertical-align: bottom;
    font-weight: 700;
    font-size:36px;
    color: green;
    width: 100%;
    line-height: 24 px;
    text-align: bottom;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .head3{
    object-fit: contain;
    vertical-align: bottom;
    margin-left: 0px;
      /* display: inline-block; */
  }

  .head3-txt{
    font-family: Lumanosimo;
    color: #ac0808;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
  }

  .bg-info{

    position: relative;
    margin-top: 170px;
    z-index:1;
    font-family: roberto,arial;      
    font-weight: 400;
    
    line-height: 25px;
    margin-bottom: 0px;
    word-spacing: 10px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .bg-info p{
    font-size: 16px;
    margin-bottom: 20px;
  }


  button{
    background-color: rgb(192, 223, 245);
    height: 40px;
    width: 100px;
    border-radius:10px;
    cursor: pointer;
    margin-right:5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition opacity: 0.3s;
    vertical-align: centre;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
  }
  
  button:hover{
    opacity: 0.6;
  }
  
  
  
  
  .button-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 150px; */
    margin-top:0px;
    
    margin-left:2px;
    margin-right:2px;
    margin-bottom: 2px;
    /* column gap not needed because of button properies  */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: lightgrey;
    }
    
    

    .pink-button{
      background-color: pink;

    }
    
    /* services  */


    .service-info{
      position: relative;
      margin-top: 200px;
      z-index:1;
    }



    .services-table{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 0px;
      margin-right: 100px;
      margin-left: 100px;
      row-gap: 20px;
      column-gap: 20px;
      }
      
      .services-table-item{
        padding:20px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        background-color: rgb(214, 227, 227);
      }

    .item-heading{
      font-family: Lumanosimo;
      color: darkblue;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .item-subhead{
      color: black;
      font-family: Arial;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;  
    }

    .item-txt{
      color: red;
      font-family: Arial;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;  
    }

    /* examples */

    .examples-info{
      position: relative;
      margin-top: 200px;
      z-index:1;
    }



    .examples-table{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-top: 0px;
      margin-right: 100px;
      margin-left: 100px;
      row-gap: 20px;
      column-gap: 20px;
      align-content: center;
      place-items: center;
      }
      
      .examples-table-cell{
        padding:25px;
        border-width: 2px;
        border-style: solid;
        border-color: black;
        border-radius: 30px;
        background-color: rgba(164, 244, 173, 0.534);
        text-align: center;
        vertical-align: middle;
      }

      .example{
        font-family: Lumanosimo;
        color: darkblue;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;    
        line-height: 25px;
        margin-bottom: 0px;
        word-spacing: 10px;
      }

      .examples-centre-cell{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: yellow;
        padding:60px;
        text-align: center;
        vertical-align: middle;
        border-width: 6px;
        border-style: solid;
        border-color: blue;
        border-radius: 80px;
        }

      .examples-centre-cell-item{
        font-family: Lumanosimo;
        color: red;
        font-weight: 900;
        font-size: 24px;
        vertical-align:middle;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;    
        line-height: 25px;
        margin-bottom: 0px;
        word-spacing: 10px;
      }

      /* people */
     
    .team-container{
      display:grid;
      grid-template-columns: 5px 1fr 5px;
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
      row-gap: 10px;
      column-gap: 0px;
      background-color: navy;
      border-width: 5px;
      border-style: solid;
      border-color: navy;
      }
       

    .team-table{
      
      display:grid;
      grid-template-columns: 1fr 4fr ;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin-left: 0px;
      row-gap: 30px;
      column-gap: 40px;
      background-color: rgb(214, 227, 227);
      padding:20px;
      border-bottom-width: 5px;
      border-bottom-color: red;
      
      }

      .team-table-row{

      }

      .team-table-item{
        padding:0px;
        position:relative;
      }

      .person-name{
        font-family: Lumanosimo;
        color: darkblue;
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
     
      }

      .person-details{
        color: black;
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-align: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;  
      }

      /* mission */

      .mission-info{
        position: relative;
        <!-- margin-top: 200px;  -->
        z-index:1;
      }
  
  
  
      .mission-table{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0px;
        margin-right: 100px;
        margin-left: 100px;
        row-gap: 10px;
        column-gap: 10px;
        }
        
        .mission-table-item{
          padding:20px;
          border-width: 1px;
          border-style: solid;
          border-color: black;
          background-color: rgb(214, 227, 227);
        }
  
      .mission-item-heading{
        font-family: Lumanosimo;
        color: darkblue;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .mission-item-subhead{
        color: black;
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;  
      }
  
      
  
      
      /* contact  */
      .contact-grid{
        display:grid;
        grid-template-columns: 300px 1fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 0px;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 5px;
        row-gap: 20px;
        column-gap: 20px;
        z-index:1;
        
      }


      .contact-title{
        font-family: Lumanosimo;
        color: darkblue;
        font-weight: bold;
        font-size: 14px;
        text-align: right;
        vertical-align: middle;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;    
        line-height: 18px;
        margin-bottom: 0px;
      
      }

      .contact-txt{
        font-family: roberto,arial;
        color: black;
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-bottom: 0px;
       
      }